<ion-content>
  <div class="selected-card">
  </div>
  <div class="display-number">
    <ion-label>¥{{ money }}</ion-label>
  </div>
  <div class="calc">
    <ion-grid>
      <ion-row>
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('7')"
            >7</ion-button
          ></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('8')"
            >8</ion-button
          ></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('9')"
            >9</ion-button
          ></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('4')"
            >4</ion-button
          ></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('5')"
            >5</ion-button
          ></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('6')"
            >6</ion-button
          ></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('1')"
            >1</ion-button
          ></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('2')"
            >2</ion-button
          ></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('3')"
            >3</ion-button
          ></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('backspace')"s
            ><ion-icon name="backspace"></ion-icon></ion-button
        ></ion-col>
        <ion-col size="3" (click)="numberButtonClick('0')"
          ><ion-button fill="clear">0</ion-button></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear"
            ><ion-icon name="checkmark"></ion-icon></ion-button
        ></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="send-button">
    <ion-button expand="block">
      <ion-label>Send</ion-label>
    </ion-button>
  </div>
</ion-content>
