<ion-content>
  <app-back-on-header [title]="'Record'"></app-back-on-header>
  <div class="custom-date">
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datetime"
          [formatOptions]="{
            date: {
            weekday: 'short',
            month: 'long',
            day: '2-digit',
          },
        }"
          (ionChange)="dateChange($event)"
        ></ion-datetime>
      </ng-template>
    </ion-modal>
  </div>
  <div class="selected-card">
    <div class="wallet-name"></div>
    <ion-text class="wallet-name" id="open-modal"
      >{{selectedWallet.walletName}}</ion-text
    >
    <ion-text>¥{{ selectedWallet.money }}</ion-text>
    <ion-modal
      class="modal-wallet"
      trigger="open-modal"
      [initialBreakpoint]="0.25"
      [breakpoints]="[0, 1]"
    >
      <ng-template>
        <div class="block">
          <ion-list>
            <ion-item
              *ngFor="let wallet of wallets"
              (click)="selectedTapWallet(wallet)"
            >
              <ion-label>{{ wallet.walletName }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ng-template>
    </ion-modal>
  </div>
  <div class="purpose">
    <ion-label id="open-purpose-modal">{{ purpose }}</ion-label>
    <ion-modal
      class="modal-purpose"
      trigger="open-purpose-modal"
      [initialBreakpoint]="0.4"
    >
      <ng-template>
        <ion-list lines="none">
          <ion-item>
            <ion-avatar>
              <img src="../../../assets/img/foodExpenses.jpeg" />
            </ion-avatar>
            <ion-label (click)="selectedUsedPurpose('食費')">食費</ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar>
              <img src="../../../assets/img/EntertainmentExpenses.jpeg" />
            </ion-avatar>
            <ion-label (click)="selectedUsedPurpose('交際費')"
              >交際費</ion-label
            >
          </ion-item>
          <ion-item>
            <ion-avatar>
              <img src="../../../assets/img/dailyNecessities.jpeg" />
            </ion-avatar>
            <ion-label (click)="selectedUsedPurpose('日用品')">日用品</ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar>
              <img src="../../../assets/img/EntertainmentExpenses2.jpeg" />
            </ion-avatar>
            <ion-label (click)="selectedUsedPurpose('娯楽費')">娯楽費</ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar>
              <img src="../../../assets/img/MiscellaneousExpenses.jpeg" />
            </ion-avatar>
            <ion-label (click)="selectedUsedPurpose('その他')"
              >その他</ion-label
            >
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-modal>
  </div>
  <div class="display-number">
    <ion-label>¥{{ money }}</ion-label>
  </div>
  <div class="calc">
    <ion-grid>
      <ion-row>
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('7')"
            >7</ion-button
          ></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('8')"
            >8</ion-button
          ></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('9')"
            >9</ion-button
          ></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('4')"
            >4</ion-button
          ></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('5')"
            >5</ion-button
          ></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('6')"
            >6</ion-button
          ></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('1')"
            >1</ion-button
          ></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('2')"
            >2</ion-button
          ></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('3')"
            >3</ion-button
          ></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col size="3"
          ><ion-button fill="clear" (click)="numberButtonClick('backspace')" s
            ><ion-icon name="backspace"></ion-icon></ion-button
        ></ion-col>
        <ion-col size="3" (click)="numberButtonClick('0')"
          ><ion-button fill="clear">0</ion-button></ion-col
        >
        <ion-col size="3"
          ><ion-button fill="clear"
            ><ion-icon name="checkmark"></ion-icon></ion-button
        ></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="send-button">
    <ion-button
      expand="block"
      fill="clear"
      (click)="submit()"
      [disabled]="isTapButtonDisabled()"
    >
      <ion-label>Send</ion-label>
    </ion-button>
  </div>
</ion-content>
