ion-content::part(scroll) {
  padding-top: var(--ion-safe-area-top, 0);
}

ion-content{
  margin-right: 10px;
  margin-left: 10px;
  .custom-header{
    ion-button{
      --border-radius:50%;
      --background:black;
      --background-activated:black;
      width: 35px;
      height: 35px;
    }
    ion-button::part(native) {
      overflow: hidden;
    }
  }
  .card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-right: 20px;
    ion-card {
      border-radius: 40px;
      flex: 0 0 auto;
      width: 85%;
      height: 200px;
      margin-right: 10px;
      ion-icon{
        font-size: 1.3rem;
        margin-right: 1px;
      }
      .walletName{
        font-size: 1rem;
      }
      .money{
        font-size: 1.7rem;
        font-weight: bold;
      }
      .walletDerection{
        font-size: 1rem;
      }
    }
  }
}