<ion-content>
  <app-header
    [type]="type"
    [username]="username"
    [userIconURL]="userIconURL"
    [addFunc]="addWallet"
  ></app-header>
  <!-- <div class="custom-card">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-label>Total Money</ion-label>
            <ion-text>¥{{ totalMoney }}</ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-label>used Money</ion-label>
            <ion-text>¥{{ usedMoney }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div> -->
  <div class="card-container">
    <ion-card
      *ngFor="let wallet of wallets"
      (click)="detailCard(wallet)"
      [style.background-image]="'url(' + wallet.walletImgPath + ')'"
    >
      <ion-card-content>
        <div class="item">
          <div class="walletName">{{ wallet.walletName }}</div>
          <div class="money">¥{{ wallet.money }}</div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="card-button">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button
            expand="block"
            fill="clear"
            (click)="clickToRecordExpense()"
            ><ion-icon name="wallet-outline"></ion-icon>Pay</ion-button
          >
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" fill="clear"
            ><ion-icon name="swap-horizontal-outline"></ion-icon
            >Transfer</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
