ion-content::part(scroll) {
  padding-top: var(--ion-safe-area-top, 0);
}

ion-content{
  margin-right: 10px;
  margin-left: 10px;
  .custom-card{
    ion-card{
      border-radius: 10px;
      background-color:#88c3fa50;
      display: flex;
      align-items: center;
      height: 90px;
      ion-row{
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
      ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        ion-label,ion-text{
          color: #394C63;
        }
        ion-text{
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      ion-col::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 2px;
        background-color: #EFFDF4;
      }
      ion-col:last-child::after {
        display: none;
      }
    }
  }
  .custom-header{
    ion-button{
      --border-radius:50%;
      --background:black;
      --background-activated:black;
      width: 35px;
      height: 35px;
    }
    ion-button::part(native) {
      overflow: hidden;
    }
  }
  .card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-right: 20px;
    ion-card {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 40px;
      flex: 0 0 auto;
      width: 85%;
      margin-right: 10px;
      height: 230px;
      ion-card-content{
        .item{
          margin-top: 20px;
          margin-left: 20px;
          color: #394C63;
          .walletName{
            font-size: 1.3rem;
            font-weight: 550;
            margin-bottom: 20px;
          }
          .money{
            font-size: 2.0rem;
            font-weight: bold;
          }
        }
      }
    }
  }
  .card-button{
    ion-button{
      // --background:radial-gradient(circle at 0% 0%, rgba(35, 114, 247, 0.87) 10%, rgba(35, 102, 247, 0.58) 85%);
      --background:#FFFFFF;
      --border-radius: 40px;
      height: 45px;
      color: #394C63;
      font-weight: bold;
      ion-icon{
        margin-right: 7px;
      }
    }
  }
}