<ion-content>
  <app-header
    [type]="type"
    [username]="username"
    [userIconURL]="userIconURL"
    [addFunc]="addWallet"
  ></app-header>
  <div class="custom-card">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-label>Total Money</ion-label>
            <ion-text>¥{{ totalMoney }}</ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-label>used Money</ion-label>
            <ion-text>¥{{ usedMoney }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  <div class="card-container">
    <ion-card *ngFor="let wallet of wallets" (click)="detailCard(wallet)">
      <ion-card-content>
        <ion-list>
          <ion-item lines="none" class="walletName"
            >{{ wallet.walletName }}</ion-item
          >
          <ion-item lines="none" class="money">
            <ion-label>¥{{ wallet.money }}</ion-label>
          </ion-item>
          <ion-item lines="none" class="walletDescription">
            {{ wallet.walletDescription }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <app-floating-button></app-floating-button>
</ion-content>
