ion-content::part(scroll) {
    padding-top: var(--ion-safe-area-top, 0);
}

ion-content{
    margin-right: 10px;
    margin-left: 10px;
    ion-card {
        border-radius: 40px;
        height: 200px;
        ion-icon{
            font-size: 1.3rem;
            margin-right: 1px;
        }
        .walletName{
            font-size: 1rem;
        }
        .money{
            font-size: 1.7rem;
            font-weight: bold;
        }
        .walletDerection{
            font-size: 1rem;
        }
    }
    ion-segment {
        border-radius: 20px;
        --background: #86efac;
        ion-segment-button.ios::part(indicator-background) {
            border-radius: 20px;
        }
    }
}