ion-content::part(scroll) {
    padding-top: var(--ion-safe-area-top, 0);
}

ion-content{
    margin-right: 20px;
    margin-left: 20px;
    .analysis-circle{
        ion-card{
            border-radius: 40px;
            height: 400px;
        }
    }
}