ion-content::part(scroll) {
    padding-top: var(--ion-safe-area-top, 0);
}

ion-content{
    margin-right: 20px;
    margin-left: 20px;
    .analysis-line{
        display: flex;
        justify-content: center;
        align-items: center;
        ion-card{
            width: 100%;
            border-radius: 40px;
            height: 370px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            position: relative;
            ion-card-title{
                margin-top: 10px;
                color: #708597;
            }
            ngx-charts-pie-chart{
                position: absolute;
                width: 100%;
            }
            .displayWallet{
                position: absolute;
                top: 70%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                margin-bottom: 20px;
                width: 100%;
                margin-right: 20px;
                margin-left: 20px;
                .usedMoney,.availableMoney{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    ion-label{
                        font-size: 1.3rem;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                    ion-text{
                        font-size: 1.1rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}